
.card {
    width: 400px;
    border: 2px solid rgb(84, 132, 243);  
    background-color: #a8dbe9e0; 
    padding: 30px;   
    margin: 100px ;  
   
}

.card img {
    width: 100px;   
    height: 100px; 
      border: 2px solid rgb(247, 247, 247);   
    margin-bottom: 20px;
}
.card button {
    width: 120px;             
    background-color: rgb(100, 167, 175); 
    padding-bottom: 5px;
}
 